
<%# this belongs to the index page at the bottom. %>
    <footer>
      <script src="https://kit.fontawesome.com/7bd439d3f7.js" crossorigin="anonymous"></script>
      <script src="../main.js"></script>

    </footer>
  </body>
</html>
