<!DOCTYPE HTML>

<html>
	<head>
		<title>About Intel.Matcher</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="profile.css" />
		<noscript><link rel="stylesheet" href="noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<!-- <h1><a href="/">Home</a></h1> -->
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="/" class="menuToggle"><span>Home</span></a>
									
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>The Backstory Behind IntelMatcher</h2>
							<p> Developed by Kenneth S Cruz</p>
							<a href="https://www.kennethscruz.com/index.html" target="_blank" > kennthscruz.com</a>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h2>Everyday is a news story</h2>
								<p> The interest in this project comes from traveling, living, and studying abroad.</p>
								<p> I wanted a place where people can meet up and message eachother not based on what they look like.</p>
								<p> I wanted to develop an application where users can learn more about the world and form meaningful connections</p>
								<p> with the people that were interested in the same thing.</p>
								<p> Users will be able to search their favorite topics, and have something interesting or factual to chat about.</p>
								<h4> I hope you enjoy this full stack web app! </h4>
								<h5> Questions or Comments can be derected to: <a href="#">kenneth.s.cruz@gmail.com</a> </h5>
								<hr/>



							</div>
						</section>
					</article>

				<!-- Footer -->
					<footer id="footer">

						<ul class="copyright">
							<li>&copy; Intel.Matcher 2020 </li><li>Inspired By: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

	</body>
</html>
