

<!doctype html>
<html>
  <head>
      <title>IntelMatcher</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="../style.css">
  		<link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+KR|Quicksand&display=swap" rel="stylesheet">
      <link rel="icon" href="heartThunder.png">

  </head>
  <body>
<%# this belongs to the index page at the bottom. %>
