<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>IntelMatcher</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<noscript><link rel="stylesheet" href="noscript.css" /></noscript>
		<link rel="icon" href="heartThunder.png">
		<link rel="stylesheet" href="mainIndex.css" />
		<link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans+KR|Quicksand&display=swap" rel="stylesheet">

	</head>
	<body class="landing is-preload">
		<img class="breaking_news" src="./img/breaking_news_2.gif" alt="">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<br><br><br><br><br>
							<h2> <img src="./img/fire.gif" width="50px" height="50px"alt="little Flame GIF">
								Intel.Matcher
							<img src="./img/fire.gif" width="50px" height="50px"alt="little Flame GIF">
							</h2>
							<p> Tinder for News. <br />
							Stimulate your Brain. <br />
							Find your perfect Match!</p>
							<ul class="actions special">
								<li><a href="/signup" class="button primary">SignUP!</a></li>
								<li><a href="/login" class="button primary">LogIN!</a></li>
								<li><a href="/generic" class="button primary"> Our Story</a></li>
							</ul>
							<img src="./img/globe.gif" alt="">


						</div>
					</section>


				<!-- CTA -->


					<section id="cta" class="wrapper style4">

						<div class="inner">

							<header>
								<h2> Kenneth Cruz</h2>
								<p> KSC DEVELOPMENT, 2020. </p>
							</header>
							<ul class="actions stacked">
								<li></li>
								<li><a href="/signup" class="button fit primary">Activate</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">

						<ul class="copyright">
							<li>&copy; IntelMatcher 2020 </li><li>Inspired By: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>


	</body>
</html>
