<!doctype html>
<html>
  <head>
      <title>IntelMatcher</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="../style.css">

  </head>
  <body>
          <!-- LOCAL INFORMATION -->

          <section class="mainSearchSection">
            <h3 class="peaksInterest"> What would you like to Tell Me? </h3>
						<h3> Welcome to: <%= targetUser[0].local.firstName %>  's DMs </h3>
            <h4> Drop me a Message! </h4>
            <ul>
              <li>
              </li>
            </ul>
        <form action="/messages" method="POST">
          <input type="text" value="<%= user.local.firstName %>:" name="name">
          <input type="text" placeholder="message" name="msg">
          <button type="submit">Submit</button>
        </form>

          <!-- IMAGE UPLOAD -->
          <!-- <h2>Add a post</h2> -->
          <form action="/qpPost" enctype="multipart/form-data" method="post">
             <input type="text" name="caption" value="">
             <input type="file" name="file-to-upload">
             <input type="submit" value="Upload">
           </form>
           <input type="text" name="topic" value="" id="topicChoice" placeholder="enter a topic or country here:">
           <button class="button primary headlineSearcher" id = "headlineSearcher" type="button" name="button" id="activate"> Let's find some headlines! </button>
           <br>
           <h3 id="titleDisplay"></h3>
           <h3> <a target="_blank" id="urlDisplayLink" href=""></a> </h3>
           <img id= "imageDisplay"src="" alt="">
           <button class="button primary" id="swipeLeft" type="submit" name="button"> Swipe Left! </button>
					 <button class="button primary" id="swipeRight" type="submit" name="button"> Swipe Right! </button>
         </section>
         <section class="roaming">
          <div class="page-header text-center">
              <h1> find out who swiped right ...   ;) </h1>
              <a href="/logout" class="btn btn-default btn-sm">Logout</a>
              <a href="/favoritesBoard" class="btn btn-default btn-sm" > Favorites Board</a>
          </div>
        </section>

				<form action="/changeProfilePicture" enctype="multipart/form-data" method="POST">
                         <input type="file" name="file-to-upload">
                         <input type="submit" value="Upload">
                       </form>
<%- include('footer'); -%>
